# build products
build/
.coverage
.coverage.*
.cache
dist/
*.egg-info/
__pycache__/

# data file output
*.dat
*.h5
*.hdf
*.hdf5

# developer
dev_*

# editor settings
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# setuptools_scm
_version.py

# Sphinx documentation
docs/build/
